<footer class="footer">
  <div class="container">
    <p>&copy; <%= new Date().getFullYear() %> <%= settings.title %></p>
    <a href="/panel">Panel</a>
    <% if (settings.show_docs !== false) { %>
      <a href="/docs">API Docs</a>
    <% } %>
  </div>
</footer>
