<header class="header">
  <div class="header-inner">
    <a class="logo" href="/">
      <%= settings.title %>
    </a>
    <% if (settings.author) { %>
      <span class="header-author">by <%= settings.author %></span>
    <% } %>
  </div>
</header>